@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
  */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
  */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
  */
:where(h1, h2, h3, h4, h5, h6, p, ul, ol, dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
  */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
  */
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
  Упрощаем работу с изображениями и видео
  */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
  */
input,
textarea,
select,
button {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  margin: 0;
  padding: 0;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
    */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
  */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
  Пригодится в большинстве ситуаций
  (когда, например, нужно будет "прижать" футер к низу сайта)
    */
  min-height: 100%;
  /**
  Унифицированный интерлиньяж
    */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
  */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
  */
a,
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
  */
:where([fill]:not([fill=none], [fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
  */
:where([stroke]:not([stroke=none], [stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
  */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
  */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
  */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Ubuntu";
  src: url("../../fonts/Ubuntu-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #ffffff;
  --color-light-alt: #fafbff;
  --color-light-blue: #f0f6ff;
  --color-gray-light: #d6d9e6;
  --color-gray: #9699ab;
  --color-blue-marine: #02295a;
  --color-blue-purplish: #473dff;
  --color-blue-pastel: #adbeff;
  --color-blue-light: #bfe2fd;
  --color-red: #ed3548;
  --font-family-base: "Ubuntu", sans-serif;
  --container-width: 90rem;
  --container-padding-x: 1rem;
  --transition-duration: 0.2s;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width > 63.99875rem) {
  .visible-tablet {
    display: none !important;
  }
}

@media (width <= 63.99875rem) {
  .hidden-tablet {
    display: none !important;
  }
}

@media (width <= 47.99875rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width > 47.99875rem) {
  .visible-mobile {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8461538462rem + 0.1282051282dvw, 1rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-blue-marine);
  background-color: var(--color-light-blue);
  -webkit-tap-highlight-color: transparent;
}

main {
  flex-grow: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  color: var(--color-dark-blue-text);
  font-weight: 600;
}

h1,
.h1 {
  font-size: clamp(1.25rem, 1.1057692308rem + 0.641025641dvw, 1.875rem);
}

h2,
.h2 {
  font-size: clamp(1.125rem, 1.0961538462rem + 0.1282051282dvw, 1.25rem);
}

h3,
.h3 {
  font-size: clamp(1rem, 0.9711538462rem + 0.1282051282dvw, 1.125rem);
}

h4,
.h4 {
  font-size: clamp(0.875rem, 0.8461538462rem + 0.1282051282dvw, 1rem);
}

h5,
.h5 {
  font-size: clamp(0.75rem, 0.7211538462rem + 0.1282051282dvw, 0.875rem);
}

h6,
.h6 {
  font-size: 0.75rem;
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
a[class] {
  text-decoration: none;
}
@media (hover: hover) {
  a:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  a:active {
    color: var(--color-accent);
  }
}

:focus-visible {
  outline: 0.125rem dashed var(--color-red);
  outline-offset: 0.25rem;
  transition-duration: 0s !important;
}

.field {
  display: grid;
  position: relative;
  row-gap: 0.3125rem;
}
.field:has(.field__errors:not(:empty)) .field__control {
  border-color: var(--color-red);
}
.field__control {
  border-radius: 0.375rem;
  padding: 0.625rem;
  border: 0.0625rem solid var(--color-gray-light);
  font-weight: 500;
  color: var(--color-blue-marine);
}
.field__control:hover, .field__control:focus-visible {
  outline: 0.0625rem;
  border-color: var(--color-blue-purplish);
}
.field__errors {
  font-size: 0.875rem;
  position: absolute;
  top: 0;
  right: 0;
  color: var(--color-red);
}

.form {
  display: grid;
  -moz-column-gap: 5rem;
       column-gap: 5rem;
  grid-template-columns: auto 1fr;
  grid-template-areas: "steps form" "steps actions";
  background-color: var(--color-light);
  border-radius: 0.75rem;
  padding: 1.25rem;
  width: 100%;
  align-self: center;
  justify-self: center;
  height: 100%;
}
@media (width > 47.99875rem) {
  .form {
    overflow-y: auto;
    max-height: 37.5rem;
    max-width: 56.25rem;
  }
}
@media (width <= 47.99875rem) {
  .form {
    display: contents;
  }
}
.form__title {
  font-weight: 700;
  font-size: clamp(1.5rem, 1.3269230769rem + 0.7692307692dvw, 2.25rem);
}
.form__description {
  font-weight: 400;
  color: var(--color-gray);
}
.form__body {
  padding-top: 1.875rem;
  display: flex;
  width: 100%;
  flex: 1;
}
@media (width <= 47.99875rem) {
  .form__body {
    position: relative;
    background-color: var(--color-light);
    border-radius: 0.75rem;
    padding: 1.25rem;
    top: -4.6875rem;
    z-index: 10;
  }
}
.form__actions {
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding-bottom: 1.25rem;
  width: 100%;
  position: relative;
  max-width: 90%;
  min-height: 5rem;
  height: 100%;
  background-color: var(--color-light);
}
@media (width <= 47.99875rem) {
  .form__actions {
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: unset;
    padding: 1.25rem;
    width: 100dvw;
    height: -moz-fit-content;
    height: fit-content;
    z-index: 10;
  }
}
.form__actions:not(:has(.form__button--prev)) .form__button {
  display: flex;
  margin-left: auto;
}
@media (width > 47.99875rem) {
  .form__actions:not(:has(.form__button--prev)) .form__button {
    position: absolute;
    right: 0;
  }
}
.form__button {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
  font-weight: 450;
  color: var(--color-gray);
  transition-duration: var(--transition-duration);
}
.form__button > * {
  pointer-events: none;
}
@media (hover: hover) {
  .form__button:hover {
    color: var(--color-blue-marine);
  }
}
@media (hover: none) {
  .form__button:active {
    color: var(--color-blue-marine);
  }
}
.form__button--next {
  padding: 0.625rem 1.25rem;
  color: var(--color-light);
  border-radius: 0.5rem;
  background-color: var(--color-blue-marine);
}
@media (hover: hover) {
  .form__button--next:hover {
    background-color: var(--color-blue-purplish);
    color: var(--color-light);
  }
}
@media (hover: none) {
  .form__button--next:active {
    background-color: var(--color-blue-purplish);
    color: var(--color-light);
  }
}
.form__button--prev {
  padding-bottom: 0.625rem;
}

@media (width > 47.99875rem) {
  .section {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    margin-block: auto;
    width: 70%;
  }
}
@media (width <= 100.06125rem) {
  .section {
    width: 100%;
  }
}

.steps {
  border-radius: 0.5rem;
  padding: 1.875rem;
  padding-right: 5.625rem;
  grid-area: steps;
  height: 100%;
  background: url("../../images/bg-sidebar-desktop.svg") center/cover no-repeat;
  color: var(--color-light);
}
@media (width <= 47.99875rem) {
  .steps {
    position: relative;
    background-image: url("../../images/bg-sidebar-mobile.svg");
    width: 100dvw;
    left: calc(var(--container-padding-x) * -1);
    border-radius: 0;
    min-height: 11.25rem;
    padding-right: 1.875rem;
  }
}
.steps__list {
  display: grid;
  row-gap: 1.25rem;
  text-transform: uppercase;
  font-weight: 500;
}
@media (width <= 47.99875rem) {
  .steps__list {
    display: flex;
    align-items: center;
    justify-content: center;
    -moz-column-gap: 0.9375rem;
         column-gap: 0.9375rem;
  }
}
.steps__list-item {
  display: flex;
  align-items: center;
  -moz-column-gap: 0.9375rem;
       column-gap: 0.9375rem;
}
.steps__label {
  --size: 2.25rem;
  width: var(--size);
  height: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.0625rem solid var(--color-light);
  border-radius: 50%;
}
.steps__label-step {
  font-weight: 700;
}
.steps__label--active {
  background-color: var(--color-blue-light);
  border-color: var(--color-blue-light);
}
.steps__label--active .steps__label-step {
  color: var(--color-blue-marine);
}
.steps__info {
  display: grid;
}
.steps__info-title {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--color-gray-light);
}

.personal-info {
  display: grid;
  row-gap: 1.875rem;
  width: 100%;
}
@media (width > 47.99875rem) {
  .personal-info {
    max-width: 90%;
  }
}
.personal-info__body {
  display: grid;
  row-gap: 1.5625rem;
}

.plans {
  display: grid;
  row-gap: 1.875rem;
  width: 100%;
}
@media (width > 47.99875rem) {
  .plans {
    max-width: 90%;
  }
}
.plans__body {
  display: grid;
  row-gap: 1.5625rem;
}
.plans__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: stretch;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}
@media (width <= 40.06125rem) {
  .plans__list {
    display: flex;
    row-gap: 0.625rem;
    flex-direction: column;
  }
}
.plans__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 1.25rem;
  height: 12.5rem;
  padding: 0.9375rem;
  border-radius: 0.5rem;
  transition-duration: var(--transition-duration);
  border: 0.0625rem solid var(--color-gray-light);
  cursor: pointer;
}
@media (width <= 40.06125rem) {
  .plans__card {
    flex-direction: row;
    justify-content: start;
    -moz-column-gap: 1.25rem;
         column-gap: 1.25rem;
    height: 5.625rem;
  }
}
.plans__card * {
  pointer-events: none;
}
.plans__card.is-selected {
  border: 0.0625rem solid var(--color-blue-purplish);
  background-color: var(--color-light-blue);
}
@media (hover: hover) {
  .plans__card:hover {
    border: 0.0625rem solid var(--color-blue-purplish);
  }
}
@media (hover: none) {
  .plans__card:active {
    border: 0.0625rem solid var(--color-blue-purplish);
  }
}
.plans__card-info {
  display: grid;
  row-gap: 0.125rem;
}
.plans__card-info-key {
  font-size: clamp(0.875rem, 0.8173076923rem + 0.2564102564dvw, 1.125rem);
  font-weight: 700;
}
.plans__card-info-value {
  font-size: clamp(0.875rem, 0.8461538462rem + 0.1282051282dvw, 1rem);
  color: var(--color-gray);
}
.switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-light-alt);
  border-radius: 0.5rem;
  font-size: clamp(0.875rem, 0.8461538462rem + 0.1282051282dvw, 1rem);
  min-height: 2.25rem;
}
.switcher__inner {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  color: var(--color-gray);
  font-weight: 500;
}
.switcher__toggle {
  position: relative;
  display: inline-block;
  width: 2.8125rem;
  height: 1.375rem;
  border-radius: 1.5625rem;
  background-color: var(--color-blue-marine);
  transition: background-color var(--transition-duration) ease;
}
.switcher__checkbox {
  display: none;
}
.switcher__slider {
  position: absolute;
  top: 50%;
  left: 0.375rem;
  translate: 0 -50%;
  height: 1rem;
  width: 1rem;
  background-color: var(--color-light);
  border-radius: 50%;
  transition: translate var(--transition-duration) ease;
  cursor: pointer;
}
.switcher__checkbox:checked ~ .switcher__slider {
  translate: 1.03125rem -50%;
}
.switcher__variant {
  color: var(--color-gray);
  transition: color var(--transition-duration) ease;
}
.switcher__variant--active {
  color: var(--color-blue-marine);
}

.addons {
  display: flex;
  flex-direction: column;
  row-gap: 2.1875rem;
  width: 90%;
}
@media (width <= 47.99875rem) {
  .addons {
    width: 100%;
  }
}
.addons__list {
  display: grid;
  row-gap: 0.9375rem;
}
.addons__checkbox {
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  align-self: center;
  justify-self: center;
  width: 1.625rem;
  height: 1.375rem;
  margin: 0;
  border: 0.0625rem solid var(--color-gray-light);
  background-color: transparent;
  cursor: pointer;
  border-radius: 0.375rem;
  transition: background-color var(--transition-duration), border-color var(--transition-duration);
}
.addons__checkbox:checked {
  background-color: var(--color-blue-purplish);
  border-color: var(--color-blue-dark);
}
.addons__checkbox:checked::before {
  content: "✔";
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  color: var(--color-light);
}
.addons__card {
  display: flex;
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
  padding: 1.25rem;
  border: 0.0625rem solid var(--color-gray-light);
  border-radius: 0.5rem;
}
.addons__card.is-selected {
  border-color: var(--color-blue-purplish);
  background-color: var(--color-light-blue);
}
@media (hover: hover) {
  .addons__card:hover {
    border-color: var(--color-blue-purplish);
    background-color: var(--color-light-blue);
  }
}
@media (hover: none) {
  .addons__card:active {
    border-color: var(--color-blue-purplish);
    background-color: var(--color-light-blue);
  }
}
.addons__card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.addons__card-info {
  display: flex;
  flex-direction: column;
}
.addons__card-title {
  font-weight: 700;
  color: var(--color-blue-marine);
}
.addons__card-description {
  color: var(--color-gray);
}
.addons__card-price {
  color: var(--color-blue-purplish);
  font-weight: 500;
}

.summary {
  display: flex;
  flex-direction: column;
  row-gap: 2.1875rem;
  width: 90%;
}
@media (width <= 47.99875rem) {
  .summary {
    width: 100%;
  }
}
.summary__inner {
  display: grid;
  padding: 1.25rem;
  background-color: var(--color-light-alt);
  border-radius: 0.5rem;
}
.summary__inner:has(.summary__list) .summary__header {
  margin-bottom: 1.5625rem;
}
.summary__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.summary__header-price {
  font-size: clamp(1rem, 0.9567307692rem + 0.1923076923dvw, 1.1875rem);
  font-weight: 700;
  color: var(--color-blue-marine);
}
.summary__plan {
  display: flex;
  flex-direction: column;
  align-items: start;
  font-weight: 500;
}
.summary__plan-title {
  font-size: clamp(1rem, 0.9711538462rem + 0.1282051282dvw, 1.125rem);
  color: var(--color-blue-marine);
}
.summary__plan-button {
  color: var(--color-gray);
  text-decoration: underline;
}
@media (hover: hover) {
  .summary__plan-button:hover {
    scale: 1.05;
  }
}
@media (hover: none) {
  .summary__plan-button:active {
    scale: 1.05;
  }
}
.summary__list {
  display: grid;
  padding-top: 1.25rem;
  border-top: 0.0625rem solid var(--color-gray-light);
}
.summary__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2.5rem;
}
.summary__item-title {
  color: var(--color-gray);
}
.summary__item-price {
  font-weight: 500;
}
.summary__total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1.25rem;
}
.summary__total-title {
  color: var(--color-gray);
}
.summary__total-price {
  font-size: clamp(1.125rem, 1.0673076923rem + 0.2564102564dvw, 1.375rem);
  color: var(--color-blue-purplish);
  font-weight: 700;
}

.gratitude {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5625rem;
  height: 100%;
  justify-content: center;
}
@media (width > 47.99875rem) {
  .gratitude {
    width: 90%;
    margin-top: clamp(1.875rem, 1.7307692308rem + 0.641025641dvw, 2.5rem);
  }
}
.gratitude__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.25rem;
}
.gratitude__title {
  font-size: clamp(1.5rem, 1.3269230769rem + 0.7692307692dvw, 2.25rem);
}
.gratitude__description {
  text-align: center;
  color: var(--color-gray);
}
/*# sourceMappingURL=style.css.map */