@use "../helpers" as *;

.form {
  display: grid;
  column-gap: rem(80);
  grid-template-columns: auto 1fr;
  grid-template-areas:
    "steps form"
    "steps actions";
  background-color: var(--color-light);
  border-radius: rem(12);
  padding: rem(20);
  width: 100%;
  align-self: center;
  justify-self: center;
  height: 100%;

  @include mobile-above {
    overflow-y: auto;
    max-height: rem(600);
    max-width: rem(900);
  }

  @include mobile {
    display: contents;
  }

  &__title {
    font-weight: 700;
    font-size: fluid(24, 36);
  }

  &__description {
    font-weight: 400;
    color: var(--color-gray);
  }

  &__body {
    padding-top: rem(30);
    display: flex;
    width: 100%;
    flex: 1;

    @include mobile {
      position: relative;
      background-color: var(--color-light);
      border-radius: rem(12);
      padding: rem(20);
      top: rem(-75);
      z-index: 10;
    }
  }

  &__actions {
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding-bottom: rem(20);
    width: 100%;
    position: relative;
    max-width: 90%;
    min-height: rem(80);
    height: 100%;
    background-color: var(--color-light);

    @include mobile {
      position: fixed;
      bottom: 0;
      left: 0;
      max-width: unset;
      padding: rem(20);
      width: 100dvw;
      height: fit-content;
      z-index: 10;
    }

    &:not(:has(.form__button--prev)) {
      .form__button {
        display: flex;
        margin-left: auto;

        @include mobile-above {
          position: absolute;
          right: 0;
        }
      }
    }
  }

  &__button {
    display: flex;
    align-items: center;
    column-gap: rem(15);
    font-weight: 450;
    color: var(--color-gray);
    transition-duration: var(--transition-duration);
    
    & > * {
      pointer-events: none;
    }

    @include hover {
      color: var(--color-blue-marine);
    }

    &--next {
      padding: rem(10) rem(20);
      color: var(--color-light);
      border-radius: rem(8);
      background-color: var(--color-blue-marine);

      @include hover {
        background-color: var(--color-blue-purplish);
        color: var(--color-light);
      }
    }

    &--prev {
      padding-bottom: rem(10);
    }
  }
}
